# CMake
build/
Design/
PerfLogs/

# IDE
.idea
*.vs
*.userprefs
*.csproj
*.suo
*.user
*.tlog
*.opendb
*.db
*.sln

# Temp files
*~
~*

# Compiled Object files
*.o
*.obj
*.exe

# Debugging files
*.pdb
*.ilk
*.exp

#MacOS cache
*.DS_Store
